* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
*::selection{
  color: white;
  background-color: #000;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: #F7F7F7;
}
#page1{
  min-height: 100vh;
  /* background-color: aqua; */
  position: relative;
  width: 100%;
  padding: 0 0.8vw;
  padding-top: 18vh;
}
#page1 h1{
  font-size: 15.3vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 13vw;
  letter-spacing: -9px;
}
#video-container{
  height: 100vh;
  width: 100%;
  /* background-color: grey; */
  position: relative;
  margin-top: 1vw;
}
#video-container video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#video-container #play{
  position: fixed;
  padding: 3vw 2vw;
  background-color: black;
  border-radius: 50%;
  color: white;
  font-size: 1.5vw;
  opacity: 0;
  scale: 0;
}
#page2{
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 3vw 1vw;
  justify-content: space-between;
}
#page2 .elem{
  height: 100%;
  width: 31%;
  /* background-color: red; */
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page2 .elem img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.2;
}
#page2 .elem .dets{
  height: 60px;
  width: 70%;
  border-radius: 50px;
  background-color: red;
  position: absolute;
  z-index: 12;
}
#page2 .elem .dets:hover{
  height: 200px;
}
#page3 {
  min-height: 120vh;
  width: 100%;
  background-color: #F7F7F7;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.child{
  height: 55vh;
  width: 40vh;
  /* background-color: red; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.child img{
  height: 100%;
  object-fit: cover;
  object-position: center;
}



@media (max-width: 600px) {
  #page1 h1{
  font-size: 14vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 13vw;
  letter-spacing: -2px;
}
#page1{
  min-height: 70vh;
  width: 100%;
  padding: 0 3vw;
  padding-top: 20vh;
}
#video-container{
  height: 25vh;
  margin-top: 3vw;
}
#video-container #play{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 4vw 3vw;
  border-radius: 50%;
  color: white;
  font-size: 2vw;
  opacity: 1;
  scale: 1;
  transform: translate(-50%, -50%);
}
#page2{
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw 3vw;
  justify-content: space-between;
}
#page2 .elem{
  height: 100vh;
  width: 100%;
  /* background-color: red; */
  overflow: hidden;
  margin-bottom: 3vw;
}
#page2 .elem .dets{
  height: 40px;
  width: 70%;
  border-radius: 50px;
  background-color: red;
  position: absolute;
  z-index: 12;
}
}